{
    "user_id": "$context.authorizer.claims.sub",
    "httpMethod": "$context.httpMethod",
    "game_id": "$input.params('game_id')",
    "platform": $input.json('$.platform'),
    "weight": $input.json('$.weight')
}