#set($inputRoot = $input.path('$'))
{
    "game_name": $input.json('$.game_name'),
    "platform": $input.json('$.platform'),
    "weight": $input.json('$.weight'),
    "additional_details": $input.json('$.additional_details')
}